.square {
    width: 100px;
    height: 100px;
    background-color: #FF0000;
    position:absolute;
}

.container{
    width:600px;
    height:600px;
    position:relative;
    border:1px solid black;
}
